/* Variables */
:root {
  /* Color Palette */
  --base-black: #0a0908;
  --base-white: #dff8eb;
  --light-shadow: #d8c7d4;
  --dark-shadow: #74776b;
  --gold-color: #ccbf0e;
  --gold-shadow: #d17b0f;
  --accent-color: #79cc0e;
  --accent-shadow: #c91ad6;
  /* Fonts */
  --title-font: 'Limelight', cursive;
  --text-font: 'Josefin Sans', sans-serif;
}

html,
body {
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--base-black);
  color: var(--base-white);
  font-family: var(--text-font);
}

/* Generic styles */
/* article h2,
main h2 */
h1,
h2 {
  margin: 0;
  padding: 0;
  font-family: 'Limelight', cursive;
  /* Change colors to appropiate palette */
  background: linear-gradient(
    to bottom,
    var(--gold-shadow) 20%,
    var(--gold-color) 40%,
    var(--base-white) 50%,
    var(--gold-color) 65%,
    var(--gold-shadow) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  position: relative;
  height: 100vh;
}

article {
  height: 100vh;
  margin-top: 2rem;
}

/* class and id styling */

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(./img/chessboard-bg.jpeg);
  width: auto;
  height: 100%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  filter: grayscale(100%) blur(8px);
  /* to align the title */
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-title > h1 {
  font-size: 3.2rem;
  /* margin: 0.3rem; */
  -webkit-text-stroke: 1px var(--base-black);
}

.header-title > h2 {
  font-size: 1.5rem;
  -webkit-text-stroke: 1px var(--base-black);
}

/* Navbar */

nav {
  position: sticky;
  top: 0;
  z-index: 999;
}

nav > ul {
  background: var(--dark-shadow);
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.35rem;
}

li > a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

/* Titles */

article .deco-title,
main .deco-title {
  margin-left: 1rem;
}

h2 {
  font-size: 1.3rem;
}

.deco-title {
  display: grid;
  grid-template-columns:
    [outer-start] 6px
    [small-start] 50px
    [small-end] 6px
    [inner-gap] 1fr
    [inner-end] 25px
    [middle-end] 25px
    [outer-end] 25px;
  grid-template-rows:
    [outer-start] 5px
    [small-start] 30px
    [inner-start] 10px
    [inner-end] 10px
    [small-end] 6px
    [outer-end] 20px;
}

.deco-title .deco-outer-diamond {
  grid-column: outer-start / inner-gap;
  grid-row: outer-start / outer-end;
  border: 1px solid var(--gold-color);
  transform: rotate(45deg);
}

.deco-title .deco-inner-diamond {
  grid-column: small-start / small-end;
  grid-row: small-start / small-end;
  border: 1px dotted var(--accent-shadow);
}

.deco-title .deco-text {
  grid-column: inner-gap / outer-end;
  grid-row: outer-start / inner-start;
  border-bottom: 2px dashed var(--gold-shadow);
}

.deco-title .deco-middle-line {
  grid-column: inner-gap / middle-end;
  grid-row: inner-start / inner-end;
  border-bottom: 1px dashed var(--gold-color);
}

.deco-title .deco-bottom-line {
  grid-column: inner-gap / inner-end;
  grid-row: small-end / outer-end;
  border-top: 1px dashed var(--accent-color);
}

/* article paragraphs */

article > p {
  text-align: justify;
  text-justify: inter-word;
  padding: 0.5rem;
}

/* Form */

form.selectors {
  display: grid;
  grid-template-columns: [input] 2fr [set-button] 1fr [start-button] 1fr;
  grid-template-rows: 5rem;
  align-items: center;
  margin-bottom: 2rem;
}

/* Input decoration */

.input-deco-container input {
  color: var(--base-white);
  background: var(--base-black);
  height: 100%;
  width: 90%;
  border: none;
}

.input-deco-container {
  height: 75%;

  display: grid;
  grid-template-columns:
    [outer-start] 6px
    [middle-start] 6px
    [inner-start] 6px
    [tallest-start] 1fr
    [tallest-end] 6px
    [inner-end]6px
    [middle-end] 6px
    [outer-end] 6px;
  grid-template-rows:
    [outer-start] 6px
    [tallest-start] 6px
    [middle-start]3px
    [inner-start] 1fr
    [inner-end] 3px
    [middle-end] 6px
    [tallest-end] 6px
    [outer-end] 6px;
  margin-left: 0.5rem;
}

.input-deco-container .deco-content {
  grid-column: tallest-start / tallest-end;
  grid-row: middle-start / middle-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-deco-container .deco-square-top-left {
  grid-column: outer-start / inner-start;
  grid-row: outer-start / inner-start;
  border: 1px solid var(--accent-shadow);
  /* transform: translateY(50%) rotate(45deg);  */ /* This order is important */
}

.input-deco-container .deco-square-bottom-left {
  grid-column: outer-start / inner-start;
  grid-row: inner-end / outer-end;
  border: 1px solid var(--accent-shadow);
}

.input-deco-container .deco-square-top-right {
  grid-column: inner-end / outer-end;
  grid-row: outer-start / inner-start;
  border: 1px solid var(--accent-shadow);
}

.input-deco-container .deco-square-bottom-right {
  grid-column: inner-end / outer-end;
  grid-row: inner-end / outer-end;
  border: 1px solid var(--accent-shadow);
}

.input-deco-container .deco-wide {
  grid-column: middle-start / middle-end;
  grid-row: middle-start / middle-end;
  border: 1px solid var(--gold-color);
}

.input-deco-container .deco-tallest {
  grid-column: tallest-start / tallest-end;
  grid-row: tallest-start / tallest-end;
  border: 1px solid var(--gold-shadow);
}

/* buttons have a lot going on to make those borders */
.selectors button {
  justify-self: center;
  margin: 0.2rem;
  width: 90%;
  background: var(--gold-color);
  border: none;
  padding: 0.3rem;
  clip-path: polygon(
    12% 0,
    88% 0,
    100% 12%,
    100% 88%,
    88% 100%,
    12% 100%,
    0 88%,
    0 12%
  );
}

.btn-inner-border {
  padding: 0.4rem;
  background: var(--base-black);
  clip-path: polygon(
    12% 0,
    88% 0,
    100% 12%,
    100% 88%,
    88% 100%,
    12% 100%,
    0 88%,
    0 12%
  );
}

.btn-txt {
  background: var(--gold-color);
  color: var(--base-black);
  margin: 0;
  padding: 0.3rem;
  clip-path: polygon(
    12% 0,
    88% 0,
    100% 12%,
    100% 88%,
    88% 100%,
    12% 100%,
    0 88%,
    0 12%
  );
}

/* don't touch this */
/* don't touch this */
/* don't touch this */
/* don't touch this */
/* don't touch this */

.chessboard {
  display: grid;
  justify-self: center;
  margin: 1rem;
}

#selected {
  background-color: #b96666 !important;
}

/* don't touch what's above this */
/* don't touch what's above this */
/* don't touch what's above this */
/* don't touch what's above this */
/* don't touch what's above this */

/* Media Query */

@media only screen and (min-device-width: 768px) {
  form.selectors {
    gap: 2rem;
  }

  .input-deco-container {
    height: 100%;
    display: grid;
    grid-template-columns:
      [outer-start] 12px
      [middle-start] 12px
      [inner-start] 12px
      [tallest-start] 1fr
      [tallest-end] 12px
      [inner-end] 12px
      [middle-end] 12px
      [outer-end] 12px;
    grid-template-rows:
      [outer-start] 12px
      [tallest-start] 6px
      [middle-start]6px
      [inner-start] 1fr
      [inner-end] 6px
      [middle-end] 12px
      [tallest-end] 6px
      [outer-end] 12px;
    margin-left: 0;
  }

  /* Buttons */
  .selectors button {
    width: 50%;
  }
}
