body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #050403;
  color: #ffeccc;
  font-family: 'Josefin Sans', sans-serif;
}

svg {
  height: 3.5rem;
  width: auto;
  overflow: visible;
}

path {
  transform: scaleX(2);
  stroke: none;
  fill: #ccbf59bb;
  stroke-linecap: round;
}

/* Generic styles */
h1,
h2 {
  margin: 0;
  padding: 0;
  font-family: 'Limelight', cursive;
  /* Change colors to appropiate palette */
  background: linear-gradient(
    to bottom,
    #cfc09f 22%,
    #634f2c 24%,
    #cfc09f 26%,
    #cfc09f 27%,
    #ffecb3 40%,
    #3a2c0f 78%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* class and id styling */

.bg-img {
  background-image: url(./img/chessboard-bg.jpeg);
  width: auto;
  height: 100%;
  padding: 2rem;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}

/* Navbar */

nav > ul {
  background: #2b2a25;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.35rem;
}

li > a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

/* Titles */

article {
  margin-left: 1rem;
}

.deco-title {
  display: grid;
  grid-template-columns:
    [outer-start] 6px
    [small-start] 50px
    [small-end] 6px
    [inner-gap] 1fr
    [inner-end] 25px
    [middle-end] 25px
    [outer-end] 25px;
  grid-template-rows:
    [outer-start] 5px
    [small-start] 30px
    [inner-start] 10px
    [inner-end] 10px
    [small-end] 6px
    [outer-end] 20px;
}

.deco-title .deco-outer-diamond {
  grid-column: outer-start / inner-gap;
  grid-row: outer-start / outer-end;
  border: 1px solid green;
  transform: rotate(45deg);
}

.deco-title .deco-inner-diamond {
  grid-column: small-start / small-end;
  grid-row: small-start / small-end;
  border: 1px dotted blue;
}

.deco-title .deco-text {
  grid-column: inner-gap / outer-end;
  grid-row: outer-start / inner-start;
  border-bottom: 2px solid yellow;
}

.deco-title .deco-middle-line {
  grid-column: inner-gap / middle-end;
  grid-row: inner-start / inner-end;
  border-bottom: 1px solid yellow;
}

.deco-title .deco-bottom-line {
  grid-column: inner-gap / inner-end;
  grid-row: small-end / outer-end;
  border-top: 1px solid yellow;
}

/* Form */

form.selectors {
  display: grid;
  grid-template-columns: [input] 2fr [set-button] 1fr [start-button] 1fr;
  grid-template-rows: 5rem;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}

/* Input decoration */

.input-deco-container input {
  color: white;
  background: #000;
  height: 100%;
  width: 100%;
  border: none;
}

.input-deco-container {
  height: 100%;
  display: grid;
  grid-template-columns:
    [outer-start] 12px
    [middle-start] 12px
    [inner-start] 12px
    [tallest-start] 1fr
    [tallest-end] 12px
    [inner-end] 12px
    [middle-end] 12px
    [outer-end] 12px;
  grid-template-rows:
    [outer-start] 12px
    [tallest-start] 6px
    [middle-start]6px
    [inner-start] 1fr
    [inner-end] 6px
    [middle-end] 12px
    [tallest-end] 6px
    [outer-end] 12px;
}

.input-deco-container .deco-content {
  grid-column: tallest-start / tallest-end;
  grid-row: middle-start / middle-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-deco-container .deco-square-top-left {
  grid-column: outer-start / inner-start;
  grid-row: outer-start / inner-start;
  border: 1px solid white;
  /* transform: translateY(50%) rotate(45deg);  */ /* This order is important */
}

.input-deco-container .deco-square-bottom-left {
  grid-column: outer-start / inner-start;
  grid-row: inner-end / outer-end;
  border: 1px solid white;
}

.input-deco-container .deco-square-top-right {
  grid-column: inner-end / outer-end;
  grid-row: outer-start / inner-start;
  border: 1px solid white;
}

.input-deco-container .deco-square-bottom-right {
  grid-column: inner-end / outer-end;
  grid-row: inner-end / outer-end;
  border: 1px solid white;
}

.input-deco-container .deco-wide {
  grid-column: middle-start / middle-end;
  grid-row: middle-start / middle-end;
  border: 1px dashed cyan;
}

.input-deco-container .deco-tallest {
  grid-column: tallest-start / tallest-end;
  grid-row: tallest-start / tallest-end;
  border: 1px dotted yellow;
}

/* buttons have a lot going on to make those borders */
.selectors button {
  justify-self: center;
  width: 50%;
  background: #ffffff;
  border: none;
  padding: 0.3rem;
  clip-path: polygon(
    12% 0,
    88% 0,
    100% 12%,
    100% 88%,
    88% 100%,
    12% 100%,
    0 88%,
    0 12%
  );
  font-size: 0.7rem;
}

.btn-inner-border {
  padding: 0.12rem;
  background: #2b2a25;
  clip-path: polygon(
    12% 0,
    88% 0,
    100% 12%,
    100% 88%,
    88% 100%,
    12% 100%,
    0 88%,
    0 12%
  );
}

.btn-txt {
  background: white;
  margin: 0;
  padding: 0.5rem;
  clip-path: polygon(
    12% 0,
    88% 0,
    100% 12%,
    100% 88%,
    88% 100%,
    12% 100%,
    0 88%,
    0 12%
  );
}

/* don't touch this */
/* don't touch this */
/* don't touch this */
/* don't touch this */
/* don't touch this */
.chessboard {
  display: grid;
  justify-self: center;
  margin: 1rem;
}

#selected {
  background-color: #b96666 !important;
}
