body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #050403;
  color: #ffeccc;
  font-family: 'Josefin Sans', sans-serif;
}

svg {
  height: 3.5rem;
  width: auto;
  overflow: visible;
}

path {
  transform: scaleX(2);
  stroke: none;
  fill: #ccbf59bb;
  stroke-linecap: round;
}

form {
}

input[type='button'],
input[type='submit'] {
	background: rgb(73, 73, 73);
	border: none;
	padding: 0.7rem;
	border-radius: 7px;
	color: white;
	text-transform: uppercase;
} */

/* Remove arrows from input */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
	display: block;
	content: '';
	padding: 0;
	height: 5rem;
	width: 10rem;
	margin: 0 auto;
	background: white;
	border-radius: 5rem 5rem 0 0;
} */

/* Generic styles */
h1,
h2 {
  margin: 0;
  padding: 0;
  font-family: 'Limelight', cursive;
}

/* class and id styling */

.bg-img {
  background-image: url(./img/chessboard-bg.jpeg);
  width: auto;
  height: 100%;
  padding: 2rem;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}

nav > ul {
  background: #2b2a25;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.35rem;
}

li > a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

/* don't touch this */
.chessboard {
  display: grid;
  justify-self: center;
  margin: 1rem;
}

#selected {
  background-color: #b96666 !important;
}
